@use "../../../styles/mixins" as *;

.projectslistitem {
  font-family: "Open Sans";

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: auto;
  justify-content: center;
  margin-bottom: 64px;

  @include desktop {
    flex-direction: row;
    height: 550px;

    &.side-right {
      flex-direction: row-reverse;

      .core {
        border-radius: 10px 0 0 10px;
      }

      .image-mockup {
        border-radius: 0 10px 10px 0;
      }
    }
  }

  &>div {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .image-mockup-mob {
    display: flex;

    img {
      height: auto;
      max-height: 300px;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s ease;
    }

    @include desktop {
      display: none;
    }
  }

  .image-mockup {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    background-color: #417F43;
    background-size: 100%;
    background-position: top;
    background-repeat: round;
    transition: background-size 0.3s ease;
    justify-content: center;
    align-items: center;
    display: none;

    @include desktop {
      display: flex;
    }

    img {
      height: auto;
      max-height: 500px;
      width: auto;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .ver-mais {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 2px solid #264A26;
    background: #336333;
    box-shadow: 0px 4px 8px 0px rgba(30, 52, 30, 0.16);
    cursor: pointer;
    margin: 40px 24px;

    @include desktop {
      margin: 40px 62px;
    }

    &:hover {
      background: #264A26;
      box-shadow: 0px 4px 8px 0px rgba(30, 52, 30, 0.16);
    }

    a {
      font-family: "Open Sans";
      padding: 10px;
      width: 100%;
      text-align: center;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .icons {
    display: none;
    justify-content: center;
    width: 100%;
    position: relative;

    @include desktop {
      display: flex;
    }
  }

  .core {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #366836;
    border-radius: 10px;

    @include desktop {
      border-radius: 0 10px 10px 0;
    }


    .inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      justify-content: center;
      padding-top: 24px;

      .image-mockup-mob {
        justify-content: center;
        margin-top: 24px;
      }

    }

    h3 {
      margin: 0 24px 24px;
      color: #FFE7DE;
      font-family: "Rozha One";
      font-size: 30px;

      @include desktop {
        font-size: 32px;
        margin: 0 62px 24px;
      }
    }

    span {
      color: #FFF;

      font-family: "Open Sans";
      font-size: 18px;
      margin: 0 24px;

      @include desktop {
        margin: 0 62px;
      }
    }
  }

}