@use "../../styles/mixins" as *;

.menu {
  display: none;
  margin-top: 64px;

  @include desktop {
    display: flex;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 12px 20px;

    a {
      color: var(--primary-color);
      font-size: 24px;
      font-family: "rozha one";
      text-decoration: none;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}



.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;



    >li {
      position: relative;

      ul {
        display: none;
        position: absolute;
        top: 50px;
        left: 56px;
        padding: 0;
        list-style: none;
        z-index: 10;
        margin-left: -36px;

        background: #264A26;
        border-radius: 0 0 16px 16px;
        border: 1px solid #FFE7DE;

        li {
          a {
            padding: 0.5rem 1rem;
            display: block;
            position: relative;

            &:hover {
              background: var(--primary-color);
            }


          }

          &:not(:last-child):after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #FFE7DE;
          }
        }
      }

      &:hover>ul {
        display: block;
        width: 300px;
      }
    }
  }
}