@use "../../styles/mixins" as *;

.leiamais {

  h3 {
    color: #FFE7DE;
    font-family: "Rozha One";
    font-size: 32px;
  }

  p {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
  }

  h4 {
    color: #FFC1B0;
    font-family: "Rozha One";
    font-size: 24px;
  }

  .pline {
    color: #FFC1B0;
    font-family: "Rozha One";
    font-size: 24px;
  }
}