@use "../../styles/mixins" as *;

.page {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;

  @include desktop {
    //o menu fica visivel
    margin-top: 260px;

    h2,
    h3,
    p {
      padding: 0;
      margin: 0;
    }
  }

  p,
  h1,
  h2,
  h3,
  sub {
    margin: 16px 24px;
  }

  .project-main {
    border-radius: 16px;
    background: #366836;

    @include tablet() {
      height: calc(522px);
    }

    h1 {
      padding-top: 50px;
      font-size: 48px;
      margin-bottom: 0;
    }

    h2 {
      padding-top: 30px;
      margin-top: 0;
      margin-bottom: 0;
      font-family: "Open Sans";
      font-size: 32px;
      font-weight: 400;
    }
  }

  .project-title {
    display: flex;
    align-items: center;
    width: 100%;

    h1 {
      display: flex;
      margin: 16px 24px;

      @include tablet() {
        margin: 32px 24px;
      }
    }
  }

  .section-project h1,
  h1 {
    color: #FFE7DE;
    font-family: "Rozha One";
    font-size: 32px;
  }

  .section-project h2,
  h2 {
    color: #FFE7DE;
    font-family: "Rozha One";
    font-size: 40px;
    text-transform: lowercase;
    margin-bottom: 40px;

    @include desktop {
      font-size: 40px;
    }
  }

  .section-project h3,
  h3 {
    color: #FFE7DE;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;

    @include desktop {
      font-size: 32px;
    }
  }

  .sub-section {
    margin-bottom: 40px;
  }

  sub {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 12px;
    display: block;
  }

  p {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;

    strong {
      font-weight: 300;
      color: var(--salmo-1, #FFC1B0);
    }
  }

  .disclaimer {
    display: flex;
    border-radius: 16px;
    border: 1px solid var(--verdin-4, #366836);
    margin: 24px;
    padding: 16px;





    img {
      margin-right: 24px;
      margin-left: 16px;
    }

    span {
      font-size: 14px;

      @include tablet() {
        max-width: unset;
      }

    }
  }

  .banner img {
    width: 100%;
    height: auto;
  }

  .star-solution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin: 24px;
    border-radius: 8px;
    border: 1px solid var(--verdin-4, #366836);
    background: var(--verdin-bg, #264A26);
    box-shadow: 0px 4px 8px 0px rgba(30, 52, 30, 0.16);
    padding: 8px;

    img {
      height: 32px;
      margin-right: 24px;
      margin-left: 16px;
    }
  }

  h4 {
    color: #FFC1B0;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }

  .masonry {
    gap: 24px;

    .masonry-item {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 50%;
      gap: 24px;

      img {
        height: 820px;
        width: auto;
      }

      .imgsmall img {
        width: 312px;
        height: 273px;
      }



      .disclaimer-container {
        background-image: url('/banners/Rectangle482.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
      }

      .disclaimer {

        img {
          display: flex;
          align-self: anchor-center;
          width: 28px;
          height: 30px;
        }
      }

      .row {
        gap: 24px;
      }
    }
  }

  .abovethefold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include desktop {
      padding: 0 100px 100px;
    }

    img {
      width: 100%;
    }

    p {
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
    }
  }

  .discovery {
    background: #366836;

    @include desktop {
      .w50 {
        width: 50%;
      }
    }
  }

  iframe {
    margin: 0 auto;
    display: flex;
    border-radius: 16px;
  }

  .section-project {
    display: flex;
    flex-direction: row;

    @include desktop {
      margin: 40px 0;
      margin-top: 120px;
    }

    div {
      flex: 1;
    }
  }
}