@use "../../styles/mixins" as *;

.projectshopee {
  .button-container {
    display: flex;
    height: 48px;
    margin: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(--verdin-bg, #264A26);
    background: #336333;
    box-shadow: 0px 4px 8px 0px rgba(30, 52, 30, 0.16);
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
  }

  .prototipo {
    display: flex;

    @include desktop {
      justify-content: space-between;
    }
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include desktop {}
  }
}