@use '../../styles/mixins.scss' as *;

.linkspracontato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 22px auto;
  margin-bottom: 159px;

  @include desktop() {
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px rgba(30, 52, 30, 0.16);
    background: #366836;
    padding: 40px 32px;
  }

  .row {
    justify-content: space-around;
    flex: 1;

    @include desktop() {
      gap: 200px;
    }

  }

  h3 {
    color: #FFE7DE;
    font-family: "Rozha One";
    font-size: 32px;
    margin: 0;
    margin-bottom: 24px;

    // @include desktop() {
    //   font-size: 48px;
    // }
  }

  .text {
    color: #FFC1B0;
    font-family: "Open Sans";
    font-size: 24px;

    @include desktop {
      color: #FFF;
      // font-size: 32px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    margin: 0 15px;
    margin-top: 80px;

    @include desktop() {
      margin-top: 0;
      gap: 16px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      @include desktop() {
        background: none;
        width: 100px;
      }


      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #FFF;
        font-family: "Rozha One";
        font-size: 24px;
        transition: all 0.3s ease-in-out;
        flex-direction: column;


        width: 50px;
        height: 50px;

        img {
          height: 88px;
          border-radius: 7px;
          border: 2.6px solid #316031;
          padding: 12px;
          box-shadow: 0px 3.467px 6.933px 0px rgba(30, 52, 30, 0.16);

          @include desktop() {
            border: none;
            background: #264A26;
            height: 100px;

          }
        }

        span {
          color: #FFE7DE;
          font-family: "Open Sans";
          font-size: 12px;
          margin-top: 10px;
        }

        &:hover {
          color: #FFC1B0;
          text-decoration: none;
        }
      }
    }
  }

}