@use "../../styles/mixins" as *;

.projecthbparceiros {
  @include desktop {
    margin: auto;
    max-width: 1280px;

    .project-main {
      height: 600px;
    }
  }

  .carrouselmocks {
    max-width: 100vw;
    margin: 0 auto;
    top: 0;
    width: 300px;
    margin-bottom: 45px;

    @include desktop {
      width: 1120px;
      margin-bottom: 0px;
    }

    .swiper-wrapper {
      gap: 30px;
      padding-bottom: 32px;

      @include desktop {}
    }
  }

  .h50 {
    @include desktop {
      width: calc(50% - 65px);
    }
  }
}