@use "styles/variables" as *;
@use "styles/mixins" as *;

#root {
  width: 100vw;
}


:root {
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #{$background-color};
  margin-bottom: 80px;
  font-family: "Open Sans";

  background-image: url('/banners/Maskgroup_mobile.png'),
    url(''),
    url('');
  background-position: top right,
    top left,
    bottom left;
  background-repeat: no-repeat;
  background-size: auto;

  @include desktop {
    margin-bottom: 0;
    background-image: url('/banners/Maskgroup_desktop.png'), url(''), url('/banners/Maskgroup_desk_footer.png');
    background-position: top right, top left, bottom left;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}



.container {
  padding: 0 15px;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.desktop-only {
  display: none !important;

  @include desktop {
    display: flex !important;
  }
}

.mobile-only {
  display: flex !important;

  @include desktop {
    display: none !important;
  }
}

.row {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.row-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;

}

.column {
  flex-direction: column;
}

.je {
  justify-content: space-evenly;
}

.jc {
  justify-content: center;
}

.jb {
  justify-content: space-between;
}