@use "../../styles/mixins" as *;

.setacarrousel {
  display: none;

  @include desktop {
    display: flex;
    position: absolute;
    top: calc(50% - 24px);
    opacity: 0;
    visibility: hidden;



    left: auto;
    right: -65px;
    z-index: 9;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.reverse {
      transform: rotate(180deg);
      left: -65px;
      right: auto;
    }
  }


}