@use "../../styles/mixins" as *;

.custombutton {
  display: flex;
  width: 312px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background: #366836;
  box-shadow: 0px 8px 16px 0px rgba(30, 52, 30, 0.16);


  text-decoration: none;
  color: unset;

  margin: 0 auto;
  margin-bottom: 40px;

  @include desktop {
    margin: 16px;
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  img {
    max-height: 80px;
    width: auto;
  }
}