@use "../../styles/mixins" as *;

.aboutme {
  display: none;
  flex: 1;
  border: 2px solid var(--background-color-darkmode-3, #3D753D);
  flex-direction: column;
  border-radius: 16px;

  .meucurriculobutton {
    display: flex;
  }

  @include desktop {
    display: flex;
    flex-direction: column;

    .meucurriculobutton {
      display: none;
    }
  }

  .inner {
    padding: 22px 80px;

    h3 {
      color: #FFF;
      font-family: "Rozha One";
      font-size: 48px;
      line-height: normal;
      margin: 0;
    }

    p {
      color: #FFF;
      font-family: "Open Sans";
      font-size: 18px;
      line-height: normal;
    }

    strong {
      font-weight: 300;
      color: #FFC1B0;
    }
  }

  .button-leiamais {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
    padding: 16px 32px;
    border-radius: 8px;
    border: 2px solid #264A26;
    background: #336333;
    box-shadow: 0px 4px 8px 0px rgba(30, 52, 30, 0.16);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 32px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      .title {
        color: #FFC1B0;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: normal;
      }

      .text {
        color: #FFF;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: normal;
      }
    }

    &:hover {
      background: #417f43;
      box-shadow: 0px 4px 8px 0px rgba(30, 52, 30, 0.16);
    }
  }
}